body
{
  background-color:#499999;
}
.twitch{
  background-color:#000000;
  width:900px;
  min-height:110px;
  margin:0 auto;
  
  
  
}
.uper{
 
  height:110px;
}
.title
{
    height:100%;
  float:left;
  color:#491999;
  font-size:60px;
  padding-left:15px;
  font-family:monospace;
    width:380px;
    display:flex;
    align-items:center;
 
}
.add{
    float:left;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
    max-width:400px;
    margin-right:25px;
}
.add input{
    margin-right:1em;
  border:none;
  background:#003000;
  outline:none;
  padding:0.3em;
  font-size:1.2em;
  color:white;
  border-bottom:3px white solid;
  font-family:monospace;
}
.add button{
  border:none;
  padding:0.3em;
  opacity:0.8;
  background-color:#300000;
  font-family:monospace;
  font-size:1.4em;
  color:white;
  outline:none;
  cursor:pointer;
  border-radius:2em;
  transition: all 0.2s;
}
.add button:hover{
  transform: scale(1.1);
  border:1px white solid;
}
.channels
{
  background-color:grey;
}
.buts{
    float:left;
    display:flex;
    flex-direction:column;
    width:110px;
    align-items:center;
}
.buts button{
    border:none;
    margin-top:5px;
    cursor:pointer;
    transition:transform 0.3s;
}
.buts button:hover{
    transform:scale(1.15);
    border:1.5px white dotted;
}
.one
{
  font-size:20px;
  width:80px;
  border-radius:5px;
  border-color:yellow;
  height:30px;

}
.two
{
  font-size:20px;  
  width:80px;
  border-radius:5px;
  border-color:green;
  height:30px;

}
.three
{
  font-size:20px;
  width:80px;
  border-radius:5px;
  border-color:red;
  height:30px;
}
.streams
{
  height:130px;
  
  font-size:30px;
  border-bottom-style:solid;
  border-bottom-color:black;
 

}
.first,.second,.third{
    transition:all 0.5s ease;
}
.first:hover{
 box-shadow:50px 30px 20px #90C100; 
    transform:scale(0.97);
}
.second:hover{
 box-shadow:50px 30px 20px #E12500;  
        transform:scale(0.97);

}
.third:hover{
     box-shadow:50px 30px 20px black;  
        transform:scale(0.97);
}
#logo
{
padding-top:20px;
  padding-left:40px;
  width:150px;
  float:left;
}
img{
  width:90px;
  height:90px;
  position:relative;
  
  border-radius:100%;
  border-style:solid;
  border-width:5px;
  border-top-style:dotted;
  border-color:black;
  
 
}
#name
{
  float:left;
  width:150px;
  height:100%;
  vertical-align:center;
  font-size:25px;
  color:black;
display:flex;
align-items:center;
  
}
#content
{
  float:left;
  width:150px;
height:80%;
  padding-left:60px;
  padding-right:10px;
text-align:center;
  width:350px;
  color:black;
display:flex;
align-items:center;
justify-content:center;
  
}
.big
{
  font-size:40px;
  
}
.small
{
  font-size:18px;
}
.red
{
  background-color:#900000;
}
.green
{
  background-color:green;
}
.black
{
  background-color:black;
}
.yellow
{
  background-color:yellow;
}
.padd
{
  padding-left:10px;
}
.padd2
{
  padding-left:10px;
}
A
{
  text-decoration:none;
  mouse:pointer;
}
.pad
{
  padding-top:10px;
  
}
.pad2
{
  padding-top:10px;
}
.center{

  color:red;
display:flex;
align-items:center;
justify-content:center;
}